<h1>Jebi si mateeer</h1>

<% @clanci.each do |artikl| %>
  <h2><%= artikl.title %></h2>
  <p>Published at <%= artikl.created_at.strftime('%b %d, %Y') %></p>
  <p><%= truncate(artikl.content, length: 200) %></p>
<% end %>
<%= link_to "Novi Clanak", new_article_path %>

