

<% @clanci.each do |artikl| %>
  <h2><%= link_to artikl.title, artikl %></h2>
  <p>Published at <%= artikl.created_at.strftime('%b %d, %Y') %></p>
  <p><%= truncate(artikl.content, length: 200) %></p>
<% end %>




